.feature-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.feature-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-card__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature-card__title {
  margin-bottom: 10px;

  font-weight: 700;
  text-transform: uppercase;
}

.feature-card__discription {
  color: var(--color-secondary-text);
  line-height: 1.71;
}
