.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__box {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer__address {
  margin-bottom: 8px;

  font-style: normal;
  color: var(--color-white);
}

.page-footer__contacts-list {
  list-style: none;
  color: var(--color-contact-footer);
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.page-footer__contact-item:not(:last-child) {
  margin-bottom: 8px;
}

.page-footer__contact-link {
  @extend %site-animation;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.follow-us {
  margin-top: 5px;

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}

.follow-us--positioned-right {
  margin-top: 0px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;

    display: inline-block;
    margin-left: auto;
    width: 575px;
  }
}

.follow-us__title {
  color: var(--color-white);
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--color-white);
}

.follow-us__list {
  display: inline-flex;
  list-style: none;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.follow-us__item:not(:last-child) {
  margin-right: 10px;
}

.follow-us__icon {
  @extend %site-animation;

  text-align: center;
  display: block;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  fill: var(--color-white);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
  }
}

.follow-us__input-field {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__contact-box {
    margin-right: 70px;
  }
}
