.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 481px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}

.site-nav__list {
  list-style: none;

  display: none;
  align-items: stretch;

  @extend %text-header;

  @media screen and (min-width: 481px) {
    display: flex;
  }
}

.site-nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  @extend %site-animation;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.site-nav__link--active {
  color: var(--color-accent);

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;

    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--color-accent);
  }
}

.contacts-list {
  list-style: none;

  display: none;
  align-items: stretch;

  margin-left: auto;

  @extend %text-header;

  fill: var(--color-secondary-text);
  color: var(--color-secondary-text);

  @media screen and (min-width: 481px) {
    display: flex;
  }
}

.contacts-list__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-list__link {
  display: flex;
  align-items: center;

  @extend %site-animation;

  &:hover,
  &:focus {
    color: var(--color-accent);
    fill: var(--color-accent);
  }
}

.contacts-list__icon {
  margin-right: 10px;
}

// .page-header__social-list {
//   display: none;
// }

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;

  display: flex;
  flex-direction: column;
  padding: 48px 40px;

  transform: translateX(-100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: var(--color-black);
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--color-accent);
  }

  @media screen and (min-width: 481px) {
    display: none;
  }
}

.menu-container__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.menu-container__item {
}

.menu-container__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-container__contact-list {
  margin-top: auto;
  margin-bottom: 64px;

  list-style: none;
}

.menu-container__contact-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}

.menu-container__contact-item:not(:last-child) {
  margin-bottom: 32px;

  font-size: 34px;
  line-height: 40px;

  color: #2196f3;
}

.menu-container__social-list {
  list-style: none;
  display: flex;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: var(--color-accent);
}

.menu-container__social-item {
  display: flex;
}

.menu-container__social-item:not(:last-child) {
  border-right: 1px solid var(--color-secondary-text);
  padding-right: 10px;
}

.menu-container__social-item:not(:first-child) {
  padding-left: 10px;
}
