.buttons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 35px;
  }
}

.buttons-list__item {
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: -15px;
}

.portfolio-card {
  width: 100%;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio-card__link {
  @extend %site-animation;

  &:hover,
  &:focus {
    display: block;

    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000f;
    box-shadow: 0px 1px 1px 0px #0000001f;
  }

  &:hover .portfolio-card__about,
  &:focus .portfolio-card__about {
    transform: translate(0, 0);
  }
}

.portfolio-card__image {
  position: relative;
  overflow: hidden;
  width: calc(100% + 2px);
  left: -1px;
}

.portfolio-card__about {
  position: absolute;
  top: 0;
  transform: translate(0, 101%);

  transition-property: transform;
  @extend %site-animation;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}

.portfolio-card__text {
  padding: 20px 24px;
}

.portfolio-card__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__description {
  color: var(--color-secondary-text);
  font-size: 16px;
  line-height: 1.87;
}
